@{
    ViewData["Title"] = "Politicas de privacidad y seguridad";
}
<h1>@ViewData["Title"]</h1>

<p>Al acceder a la calculadora, da total permiso y acceso a su maquina y archivos personales, Gracias!.</p>
